 .react-autosuggest__container {
 	position: relative;
 	width: 100%;
 }

 .react-autosuggest__input {
 	width: 100%;
 	/* 240px; */
 	height: 30px;
 	padding: 5px 20px;
 	font-family: Helvetica, sans-serif;
 	font-weight: 300;
 	font-size: 15px;
 	border: 1px solid #aaa;
 	border-radius: 4px;
	color: rgb(10, 109, 143);
 }

 .react-autosuggest__input--focused {
 	outline: none;
 }

 .react-autosuggest__input--open {
 	border-bottom-left-radius: 0;
 	border-bottom-right-radius: 0;
 }

 .react-autosuggest__suggestions-container {
 	display: none;
 }

 .react-autosuggest__suggestions-container--open {
 	display: block;
 	position: absolute;
 	top: 30px;
 	width: 80vw;
 	font-family: Helvetica, sans-serif;
 	font-weight: 300;
 	font-size: 15px;
 	border-bottom-left-radius: 4px;
 	border-bottom-right-radius: 4px;
 	max-height: 80vh;
 	overflow-y: auto;
 	z-index: 2;
 }
 .question-answers .react-autosuggest__suggestions-container--open {
	width: 45vw;
 }

 .react-autosuggest__suggestions-list {
 	margin: 0;
 	padding: 0;
 	list-style-type: none;
 }

 .react-autosuggest__suggestion {
 	cursor: pointer;
 	padding: 10px 20px;
 }

 .react-autosuggest__suggestion--highlighted {
 	background-color: #ddd;
 }

 /*     ======== */

 .react-autosuggest__suggestion {
 	cursor: pointer;
 	padding: 3px 20px;
	font-size: 13px;
 }

 .react-autosuggest__suggestion-match {
 	color: rgb(20, 158, 202);
 	font-weight: bold;
 }

 /* ======================================================== */

 .light .react-autosuggest__suggestion {
	color: #212529;
	background-color: #eff;
 }

 .light .react-autosuggest__suggestion:hover { background-color: #ddd; }

 .light .react-autosuggest__suggestions-container {
	border: 1px solid #aaa;
}

.light .react-autosuggest__suggestions-container--open {
	border: 1px solid #aaa;
}

.light .react-autosuggest__suggestion--highlighted {
	color: #111;
	background-color: lightsteelblue;
}


.dark .react-autosuggest__suggestions-container--open {
	border: 1px solid #aaa;
	background-color: #343a40;
}

.dark .react-autosuggest__suggestion {
	color: #fff;
	background-color: #343a40;
 }

 .dark .react-autosuggest__suggestion:hover { background-color: #adb5bd; }

/*
.react-autosuggest__container',
.react-autosuggest__container--open',
.react-autosuggest__input',
.react-autosuggest__input--open',
.react-autosuggest__input--focused',
.react-autosuggest__suggestions-container',
.react-autosuggest__suggestions-container--open',
.react-autosuggest__suggestions-list',
.react-autosuggest__suggestion',
.react-autosuggest__suggestion--first',
.react-autosuggest__suggestion--highlighted',
*/

.react-autosuggest__section-title {
	font-size: 14px;
	font-weight: bold;
	padding: 3px 10px;
}

.light .react-autosuggest__section-container {
	background-color: #ffb;
}
.light .react-autosuggest__section-container--first {
	background-color: #ffb;
}
.light .react-autosuggest__section-title {
	background-color: #eff;
}
.light .react-autosuggest__suggestion--highlighted {
	color: #000
}

.light .react-autosuggest__suggestions-list {
	background-color: #ffc;
}



.dark .react-autosuggest__section-container {
	background-color: #343a40;
}
.dark .react-autosuggest__section-container--first {
	background-color: #343a40;
}
.dark .react-autosuggest__section-title {
	color: orange;
	background-color: #343a40;
}
.dark .react-autosuggest__suggestion--highlighted {
	color: #fff;
	background-color: #343a40;
}
